src/aiapp/
src/annotation/
src/dbdata/
src/minio_data/
src/raw_data/
src/latest_models/
src/exported_data/
src/volumes/
src/mlruns/
src/wait-for-it.sh/
src/layout-model-training/data/*
!src/layout-model-training/data/.gitkeep
src/layout-model-training/outputs/*
!src/layout-model-training/outputs/.gitkeep
src/__pycache__